// background-image: url("../images/cc_bannerBG.webp");

// font-family: "Nunito Sans", sans-serif;
// font-family: "Poppins", sans-serif;


$primary-clr: #b76e79;
$secondary-clr: #000000;
$secondary-clr-lit: #2c2c2c;

//************** global css start ***********//
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #f8f5f1;

}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p {
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #212121;
    font-family: "Poppins", sans-serif;
}

.btn1 {
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    text-transform: capitalize;
    background: $secondary-clr;
    text-decoration: none;
    color: #b76e79;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 2px 24px #00000063;

    &:hover {
        background: $secondary-clr-lit;
        color: white;
    }
}

.btn2 {
    display: inline-block;
    border: 1px solid #ff4c08;
    padding: 8px 20px;
    text-transform: capitalize;
    text-decoration: none;
    background: #ff4c08;
    color: #fff;
    border-radius: 22px;
    box-shadow: 0 5px 8px -3px #ff4c08a6;
    transition: 0.4s;

    &:hover {
        background: #fff;
        color: #ff4c08;
        transition: 0.4s;
    }
}

.sec_gap {
    padding: 60px 0;
}

.sec_head {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 50px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    position: relative;

    img {
        position: absolute;
        bottom: -28px;
        left: 50%;
        transform: translateX(-50%);
    }
}

ul {
    padding-left: 0;
    list-style: none;

    li {
        a {
            text-decoration: none;
        }
    }
}

//************** global css end ***********//





//************* header section start **************//
.navbar {
    background: $secondary-clr;
    padding: 4px 0;

    .navbar-brand {
        img {
            height: 100px;
            width: 100px;
        }
    }

    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: white;
                    text-transform: capitalize;
                    font-size: 16px;
                    font-family: "Poppins", sans-serif;

                    &.active,
                    &:hover {
                        color: $primary-clr;
                    }
                }
            }
        }
    }
}



//***************** banner section css start *************//
.banner_div {
    video {
        width: 100%;
        height: 460px;
    }

    // .banner-slider {
    //     .carousel-inner {
    //         .carousel-item {
    //             position: relative;

    //             img {
    //                 width: 100%;
    //                 height: 520px;
    //                 object-fit: cover;
    //                 position: relative;
    //             }

    //             .banner_txt {
    //                 position: absolute;
    //                 bottom: 0px;
    //                 left: 50%;
    //                 transform: translateX(-50%);
    //                 background: #353535ad;
    //                 width: 100%;
    //                 text-align: center;

    //                 h1 {
    //                     font-size: 40px;
    //                     text-transform: capitalize;
    //                     display: inline-block;
    //                     color: #c2848d;
    //                     margin-bottom: 0;
    //                     padding: 20px 0;
    //                 }
    //             }
    //         }
    //     }
    // }
}




//************* about us section start *************// 
.about_us {
    .about_video {
        width: 100%;
    }
}



//**************  all slider start **************//

.announcement {
    padding: 16px 24px;
    background: #edeaea;
    border-radius: 4px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 24px;

    span {
        padding: 5px 12px;
        background: #f78e33;
        color: white;
        text-transform: capitalize;
        position: relative;
    }

    img {
        position: absolute;
        width: auto !important;
        bottom: -19px;
        left: 0px;
    }
}


.events {
    margin-top: 30px;
    border: 1px solid #e1e1e1;
    transition: all 0.5s ease-in-out;

    &:hover {
        transform: translateY(-6px);
    }

    img {
        padding: 8px;
        box-shadow: 1px 2px 24px #00000046;
        margin-bottom: 16px;
        border-radius: 4px;
        width: 100%;
    }

    .event_txt {
        padding: 8px 12px 30px;
    }

    a.event_head {
        color: #ff4c08;
        font-size: 22px;
        margin-bottom: 16px;
        text-decoration: none;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: $secondary-clr-lit;
        font-size: 16px;

        .fa-calendar-days {
            color: #ff4c08 !important;
        }

    }

    .btn1 {
        margin-top: 20px;
    }

}

// .partners_div {
.partner {
    margin: 0 auto 24px;

    img {
        height: 170px;
        width: 170px;
        object-fit: contain;
        padding: 6px 30px;
        background: #fceff1;
        box-shadow: 1px 2px 24px #00000046;
        border-radius: 4px;
    }
}

// }

.home_submit_entry {
    border-radius: 6px;
    padding: 20px;
    border: 2px solid #b76e79;

    img {
        width: 100%;
        border-radius: 6px;
    }

    .btn1 {
        display: flex;
        justify-content: center;
        margin-top: -5px;
    }
}

//**************  all slider end **************//




//************ Frequently asked question css start ************//
.faq_div {
    background: #e2dadb;

    .sec_headeing {
        p {
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }
    }

    .nav-item {
        .triangle-down {
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 10px solid $primary-clr;
            margin: auto;
        }

        .nav-link {
            border: none;
            border-radius: 6px;
            background: white;
            color: $primary-clr;
            padding: 20px;

            i {
                font-size: 20px;
            }

            p {
                margin-bottom: 0;
            }

            &.active {
                background: $primary-clr;
                color: white;

                p {
                    color: white;
                }
            }
        }

        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    .tab-content {
        width: 45%;
        margin: 0 auto;
    }
}



// details[open] summary~* {
//     animation: open 0.6s ease-in-out;
// }

// @keyframes open {
//     0% {
//         opacity: 0;
//     }

//     100% {
//         opacity: 1;
//     }
// }

// details summary::-webkit-details-marker {
//     display: none;
// }

// details {
//     margin-bottom: 16px;

//     summary {
//         width: 100%;
//         padding: 6px 12px;
//         background: white;
//         border-radius: 4px;
//         position: relative;
//         cursor: pointer;
//         font-size: 1.25rem;
//         font-weight: 500;
//         list-style: none;

//         &::after {
//             content: "+";
//             color: black;
//             position: absolute;
//             font-size: 1.75rem;
//             line-height: 0;
//             margin-top: 0.75rem;
//             right: 0;
//             font-weight: 200;
//             transform-origin: center;
//             transition: 200ms linear;
//         }
//     }
// }

// details[open] summary:after {
//     transform: rotate(45deg);
//     font-size: 2rem;
// }

// details summary {
//     outline: 0;
// }

// details p {
//     font-size: 0.95rem;
//     margin: 0 0 1rem;
//     padding: 6px 12px;
//     background: white;
//     border-top: 1px solid #c1c1c1;
// }





//*-------------- bradecrumb css start --------------*//
.breadcrumb_div {
    background-image: url("../images/about-image.jpg");
    padding: 140px 0;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    width: 100%;

    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: #b76e791a;
        top: 0;
        left: 0;
    }

    .breadcrumb_div_inner {
        position: relative;
        z-index: 11;

        h3 {
            color: white;
            text-transform: capitalize;
            font-size: 34px;
        }

        .breadcrumb {
            .breadcrumb-item {
                font-size: 18px;
                text-transform: capitalize;

                a {
                    color: white;
                    text-decoration: none;

                }

                &.active {
                    color: #ed94a2;
                }
            }
        }
    }
}



//**************** award category page css start **************//
.award_category_accordion {
    .accordion-item {
        margin-bottom: 15px;
        border-bottom: 0;
    }
}


// #accordionFlushExample .accordion-area:nth-child(1)::before {
//     content: " ";
//     height: 100%;
//     width: 2px;
//     background: linear-gradient(45deg, #ff4c08, #9dc9d400);
//     top: 0;
//     right: -10%;
//     position: absolute;
// }
.accordion-flush .accordion-item .accordion-button {
    background: $primary-clr;
    color: white;
    padding: 10px;
    border-radius: 4px !important;
}

.accordion-button::after {
    width: 20px;
    height: 20px;
}

.accordion-body {
    padding: 8px;
    border: 1px solid #80808033;
    margin-top: 4px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion_left {
    padding-left: 40px;
}

.accordion_right {
    padding-right: 40px;
}


//************* contact us page css start *************//
.contact-main {
    padding: 35px 25px 35px;
    background: #ffffff;
    display: flex;
    justify-content: flex-end;
    max-width: 650px;
    margin: auto;
    position: relative;
    box-shadow: 0 8px 27px -3px rgba(11, 3, 78, 0.16);
    border-radius: 4px;
}

.contact-area {
    padding: 25px 25px 35px;
    background: #0b034e;
    position: absolute;
    top: 50%;
    left: -8%;
    transform: translate(0, -50%);
    box-shadow: 0px 8px 16px -3px rgba(0, 0, 0, 0.52);
    color: white;
    border-radius: 4px;

}

.contact-area p {
    color: white;
    font-size: 18px;
}

.contact-area .tab-pane ul li {
    margin-bottom: 4px;
}

.contact-area .tab-pane ul li span {
    margin-right: 10px;
}

.contact_us_div .nav-pills .nav-link {
    display: inline-block;
    border: 1px solid #ff4c08;
    padding: 8px 20px;
    margin-right: 10px;
    cursor: pointer;
    background: #ff4c08;
    color: #fff;
    border-radius: 22px;
    margin-bottom: 10px;
    box-shadow: 0 5px 8px -3px rgba(255, 76, 8, 0.65);
    transition: 0.4s;

}

.contact_us_div .nav-pills .nav-link:hover {
    background: #fff;
    color: #ff4c08;
    transition: 0.4s;
}

.contact-form {
    width: 320px;
    margin-left: auto;
}

.contact-form .form-group .form-control {
    // width: 300px;
    border-radius: 20px;
    // height: 40px;
    margin-bottom: 10px;
    font-size: 15px;
    background: #e7e7ff87;
    border: transparent;
    box-shadow: 0px 6px 10px -7px rgba(0, 0, 0, 0.44);
}

.contact-form h4 {
    color: #ff4c08;
}

//************* contact us page css start *************//


//************* about us page css start *************//
.award_commitee_div {
    h6 {
        color: #b76e79;
        font-size: 22px;
        text-align: center;
        font-weight: 600;
    }

    .member_div {
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        img {
            height: 400px;
            width: 100%;
            transition: all 0.3s ease-in-out;
            object-fit: cover;
        }

        .member_details {
            position: absolute;
            top: 84%;
            left: 0;
            width: 100%;
            background: #b76e79de;
            color: white;
            padding: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: all 0.3s ease-in-out;
            align-items: center;

            h4 {
                margin-bottom: 10px;
            }

            p {
                text-transform: capitalize;
                color: white;
                font-weight: 500;
            }
        }

        &:hover .member_details {
            top: 61%;
        }
    }
}

.judging_div {
    .judging_looking {
        .member_div {
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            margin-top: 20px;

            img {
                height: 400px;
                width: 100%;
                transition: all 0.3s ease-in-out;
                object-fit: cover;
            }

            .member_details {
                position: absolute;
                top: 85%;
                left: 0;
                width: 100%;

                color: white;
                padding: 20px;
                text-align: center;

                transition: all 0.3s ease-in-out;


                background: linear-gradient(to right, rgba(255, 220, 248, 0.89), rgba(136, 136, 214, 0.66));
                opacity: 1;
                // transform: skew(0deg, 10deg);

                h4 {
                    margin-bottom: 10px;
                    color: black;
                }

                p {
                    text-transform: capitalize;
                    color: white;
                    font-weight: 500;
                }
            }

            &:hover .member_details {
                top: 64%;
                // transform: skew(0deg, 5deg);
            }
        }

        p {
            width: 23%;
            margin: auto;
        }
    }
}

//************* about us page css start *************//


//************ nominees page css start ************//
.nominees_div {
    .nominee_head {
        color: #ff4c08;
        position: relative;
        text-transform: capitalize;
        margin-bottom: 20px;

        &::before {
            position: absolute;
            content: " ";
            top: 100%;
            left: 0;
            height: 3px;
            width: 12%;
            background: linear-gradient(45deg, #ff4c08, #9dc9d400);
        }
    }

    .nominees {
        text-decoration: none;
        transition: all 0.4s ease-in-out;

        h6 {
            margin-top: 8px;
            text-transform: capitalize;
            color: #151515;
            transition: all 0.4s ease-in-out;
        }

        &:hover {
            transform: translateY(-6px);

            h6 {
                color: #ff4c08;
            }
        }

    }
}

.top_tab {
    background: $primary-clr !important;
    color: white !important;
    border-radius: 4px !important;
    text-transform: capitalize;
    border: none !important;
    box-shadow: none !important;
}

//************ nominees page css end ************//




//*************** Footer div css start **************//
.footer_div {
    background: $secondary-clr-lit;

    .footer_logo_div {
        margin-bottom: 20px;

        img {
            width: 60%;
            margin-bottom: 20px;
        }

        p {
            color: white;
        }

        ul {
            padding-left: 0;
            list-style: none;

            li {
                margin-bottom: 6px;

                a {
                    text-decoration: none;
                    color: white;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        color: $primary-clr;
                    }
                }
            }
        }
    }

    .footer_links_div {
        margin-bottom: 20px;

        strong {
            color: white;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 22px;
            border-bottom: 2px solid white;
        }

        img {
            margin-top: 6px;
            border-radius: 12px;
            width: 45%;
        }

        ul {
            padding-left: 0;
            list-style: none;
            margin-top: 20px;

            li {
                a {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: white;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            &.footer_social_icons {
                display: flex;
                justify-content: space-between;

                li {
                    margin-right: 6px;

                    a.active {
                        padding: 8px 12px;
                        background: $primary-clr;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .copy_right_area {
        padding: 8px 0;

        p {
            bottom: 0 !important;
            color: white;
            font-size: 13px;
        }

        color: white;
    }
}

//*************** Footer div css end **************//








//************ Mobile vies css start **********//
@media (min-width:320px) and (max-width:767.5px) {
    .nominees_div{
        .nominees {
            h6{
                margin-bottom: 30px;
            }
        }
    }
    .sec_gap {
        padding: 30px 0;
    }

    .sec_head {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 50px;

        img {
            width: 120px;
            bottom: -22px;
        }
    }

    p {
        font-size: 12px;
    }

    .banner_div {
        video {
            width: 100%;
            height: 200px;
        }
    }

    .partner {
        img {
            height: 80px;
            width: 90px;
            padding: 6px 8px;
        }
    }

    .award_category_accordion {
        .accordion-item {
            margin-bottom: 10px;
        }
    }

    .navbar {

        // background: $primary-clr;
        .navbar-brand {
            img {
                height: 66px;
                width: 66px;
            }
        }
    }

    .navbar-toggler {
        background: #ffffff;
        padding: 4px;

        .navbar-toggler-icon {
            font-size: small;
            vertical-align: bottom;
        }
    }

    .navbar-collapse {
        padding: 6px;
        background: $primary-clr;

        .navbar-nav {
            .nav-link {
                padding: 0 0 3px;

                &.active {
                    color: white !important;
                }
            }
        }
    }

    .home_submit_entry {
        margin-top: 20px;
    }

    .breadcrumb_div {
        padding: 35px 0;
    }

    .breadcrumb_div .breadcrumb_div_inner h3 {
        font-size: 26px;
    }

    .breadcrumb_div .breadcrumb_div_inner .breadcrumb .breadcrumb-item {
        font-size: 16px;
    }

    .accordion-flush .accordion-item .accordion-button {
        padding: 8px;
        font-size: 13px;
    }

    .accordion-button::after {
        width: 18px;
        height: 16px;
    }

    .accordion_right {
        padding-right: 0;
    }

    .accordion_left {
        padding-left: 0;
    }

    .contact_us_div .nav-pills .nav-link {
        padding: 4px 10px;
        font-size: 12px;
    }

    .contact-main {
        padding: 14px;
        display: block;
    }

    .contact-area {
        position: relative;
        transform: none;
        top: 0;
        left: 0;
        padding: 14px;

    }

    .contact-form {
        margin-top: 30px;
        width: 100%;

        form {
            .btn1 {
                width: 100% !important;
            }
        }
    }

    .award_commitee_div .member_div {
        margin-bottom: 30px;
    }

    .award_commitee_div .member_div .member_details {
        top: 85%;
    }

    .judging_looking {
        p {
            width: 100% !important;
        }
    }

    .award_commitee_div {
        h6 {
            font-size: 17px;
        }
    }
}



@media (min-width:768) and (max-width:991.5px) {
    .partner {
        img {
            height: 120px;
            width: 120px;
            padding: 6px 8px;
        }
    }

}

@media (min-width:992px) and (max-width:1023.5px) {}

//************ Mobile vies css end **********//