* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f8f5f1;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #212121;
  font-family: "Poppins", sans-serif;
}

.btn1 {
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  text-transform: capitalize;
  background: #000000;
  text-decoration: none;
  color: #b76e79;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 2px 24px rgba(0, 0, 0, 0.3882352941);
}
.btn1:hover {
  background: #2c2c2c;
  color: white;
}

.btn2 {
  display: inline-block;
  border: 1px solid #ff4c08;
  padding: 8px 20px;
  text-transform: capitalize;
  text-decoration: none;
  background: #ff4c08;
  color: #fff;
  border-radius: 22px;
  box-shadow: 0 5px 8px -3px rgba(255, 76, 8, 0.6509803922);
  transition: 0.4s;
}
.btn2:hover {
  background: #fff;
  color: #ff4c08;
  transition: 0.4s;
}

.sec_gap {
  padding: 60px 0;
}

.sec_head {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 50px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.sec_head img {
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  padding-left: 0;
  list-style: none;
}
ul li a {
  text-decoration: none;
}

.navbar {
  background: #000000;
  padding: 4px 0;
}
.navbar .navbar-brand img {
  height: 100px;
  width: 100px;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active, .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #b76e79;
}

.banner_div video {
  width: 100%;
  height: 460px;
}

.about_us .about_video {
  width: 100%;
}

.announcement {
  padding: 16px 24px;
  background: #edeaea;
  border-radius: 4px;
  position: relative;
  margin-left: 20px;
  margin-bottom: 24px;
}
.announcement span {
  padding: 5px 12px;
  background: #f78e33;
  color: white;
  text-transform: capitalize;
  position: relative;
}
.announcement img {
  position: absolute;
  width: auto !important;
  bottom: -19px;
  left: 0px;
}

.events {
  margin-top: 30px;
  border: 1px solid #e1e1e1;
  transition: all 0.5s ease-in-out;
}
.events:hover {
  transform: translateY(-6px);
}
.events img {
  padding: 8px;
  box-shadow: 1px 2px 24px rgba(0, 0, 0, 0.2745098039);
  margin-bottom: 16px;
  border-radius: 4px;
  width: 100%;
}
.events .event_txt {
  padding: 8px 12px 30px;
}
.events a.event_head {
  color: #ff4c08;
  font-size: 22px;
  margin-bottom: 16px;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.events p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #2c2c2c;
  font-size: 16px;
}
.events p .fa-calendar-days {
  color: #ff4c08 !important;
}
.events .btn1 {
  margin-top: 20px;
}

.partner {
  margin: 0 auto 24px;
}
.partner img {
  height: 170px;
  width: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 6px 30px;
  background: #fceff1;
  box-shadow: 1px 2px 24px rgba(0, 0, 0, 0.2745098039);
  border-radius: 4px;
}

.home_submit_entry {
  border-radius: 6px;
  padding: 20px;
  border: 2px solid #b76e79;
}
.home_submit_entry img {
  width: 100%;
  border-radius: 6px;
}
.home_submit_entry .btn1 {
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.faq_div {
  background: #e2dadb;
}
.faq_div .sec_headeing p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.faq_div .nav-item .triangle-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #b76e79;
  margin: auto;
}
.faq_div .nav-item .nav-link {
  border: none;
  border-radius: 6px;
  background: white;
  color: #b76e79;
  padding: 20px;
}
.faq_div .nav-item .nav-link i {
  font-size: 20px;
}
.faq_div .nav-item .nav-link p {
  margin-bottom: 0;
}
.faq_div .nav-item .nav-link.active {
  background: #b76e79;
  color: white;
}
.faq_div .nav-item .nav-link.active p {
  color: white;
}
.faq_div .nav-item:not(:last-child) {
  margin-right: 16px;
}
.faq_div .tab-content {
  width: 45%;
  margin: 0 auto;
}

.breadcrumb_div {
  background-image: url("../images/about-image.jpg");
  padding: 140px 0;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
}
.breadcrumb_div::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(183, 110, 121, 0.1019607843);
  top: 0;
  left: 0;
}
.breadcrumb_div .breadcrumb_div_inner {
  position: relative;
  z-index: 11;
}
.breadcrumb_div .breadcrumb_div_inner h3 {
  color: white;
  text-transform: capitalize;
  font-size: 34px;
}
.breadcrumb_div .breadcrumb_div_inner .breadcrumb .breadcrumb-item {
  font-size: 18px;
  text-transform: capitalize;
}
.breadcrumb_div .breadcrumb_div_inner .breadcrumb .breadcrumb-item a {
  color: white;
  text-decoration: none;
}
.breadcrumb_div .breadcrumb_div_inner .breadcrumb .breadcrumb-item.active {
  color: #ed94a2;
}

.award_category_accordion .accordion-item {
  margin-bottom: 15px;
  border-bottom: 0;
}

.accordion-flush .accordion-item .accordion-button {
  background: #b76e79;
  color: white;
  padding: 10px;
  border-radius: 4px !important;
}

.accordion-button::after {
  width: 20px;
  height: 20px;
}

.accordion-body {
  padding: 8px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 4px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion_left {
  padding-left: 40px;
}

.accordion_right {
  padding-right: 40px;
}

.contact-main {
  padding: 35px 25px 35px;
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
  max-width: 650px;
  margin: auto;
  position: relative;
  box-shadow: 0 8px 27px -3px rgba(11, 3, 78, 0.16);
  border-radius: 4px;
}

.contact-area {
  padding: 25px 25px 35px;
  background: #0b034e;
  position: absolute;
  top: 50%;
  left: -8%;
  transform: translate(0, -50%);
  box-shadow: 0px 8px 16px -3px rgba(0, 0, 0, 0.52);
  color: white;
  border-radius: 4px;
}

.contact-area p {
  color: white;
  font-size: 18px;
}

.contact-area .tab-pane ul li {
  margin-bottom: 4px;
}

.contact-area .tab-pane ul li span {
  margin-right: 10px;
}

.contact_us_div .nav-pills .nav-link {
  display: inline-block;
  border: 1px solid #ff4c08;
  padding: 8px 20px;
  margin-right: 10px;
  cursor: pointer;
  background: #ff4c08;
  color: #fff;
  border-radius: 22px;
  margin-bottom: 10px;
  box-shadow: 0 5px 8px -3px rgba(255, 76, 8, 0.65);
  transition: 0.4s;
}

.contact_us_div .nav-pills .nav-link:hover {
  background: #fff;
  color: #ff4c08;
  transition: 0.4s;
}

.contact-form {
  width: 320px;
  margin-left: auto;
}

.contact-form .form-group .form-control {
  border-radius: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  background: rgba(231, 231, 255, 0.5294117647);
  border: transparent;
  box-shadow: 0px 6px 10px -7px rgba(0, 0, 0, 0.44);
}

.contact-form h4 {
  color: #ff4c08;
}

.award_commitee_div h6 {
  color: #b76e79;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}
.award_commitee_div .member_div {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.award_commitee_div .member_div img {
  height: 400px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}
.award_commitee_div .member_div .member_details {
  position: absolute;
  top: 84%;
  left: 0;
  width: 100%;
  background: rgba(183, 110, 121, 0.8705882353);
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  align-items: center;
}
.award_commitee_div .member_div .member_details h4 {
  margin-bottom: 10px;
}
.award_commitee_div .member_div .member_details p {
  text-transform: capitalize;
  color: white;
  font-weight: 500;
}
.award_commitee_div .member_div:hover .member_details {
  top: 61%;
}

.judging_div .judging_looking .member_div {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}
.judging_div .judging_looking .member_div img {
  height: 400px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}
.judging_div .judging_looking .member_div .member_details {
  position: absolute;
  top: 85%;
  left: 0;
  width: 100%;
  color: white;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to right, rgba(255, 220, 248, 0.89), rgba(136, 136, 214, 0.66));
  opacity: 1;
}
.judging_div .judging_looking .member_div .member_details h4 {
  margin-bottom: 10px;
  color: black;
}
.judging_div .judging_looking .member_div .member_details p {
  text-transform: capitalize;
  color: white;
  font-weight: 500;
}
.judging_div .judging_looking .member_div:hover .member_details {
  top: 64%;
}
.judging_div .judging_looking p {
  width: 23%;
  margin: auto;
}

.nominees_div .nominee_head {
  color: #ff4c08;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.nominees_div .nominee_head::before {
  position: absolute;
  content: " ";
  top: 100%;
  left: 0;
  height: 3px;
  width: 12%;
  background: linear-gradient(45deg, #ff4c08, rgba(157, 201, 212, 0));
}
.nominees_div .nominees {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.nominees_div .nominees h6 {
  margin-top: 8px;
  text-transform: capitalize;
  color: #151515;
  transition: all 0.4s ease-in-out;
}
.nominees_div .nominees:hover {
  transform: translateY(-6px);
}
.nominees_div .nominees:hover h6 {
  color: #ff4c08;
}

.top_tab {
  background: #b76e79 !important;
  color: white !important;
  border-radius: 4px !important;
  text-transform: capitalize;
  border: none !important;
  box-shadow: none !important;
}

.award-box {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #efd7db;
  padding: 22px;
  background-color: rgb(255, 255, 255) !important;
  width: 80%;
  margin: 24px auto 0;
}
.award-box .left-area {
  position: relative;
}
.award-box .left-area img {
  width: 220px;
  border-radius: 4px;
}
.award-box .left-area .award-icon img {
  position: absolute;
  width: 50px;
  top: -7px;
  right: 7px;
}
.award-box .right-area a {
  color: black;
  text-decoration: none;
}
.award-box .right-area .fame-info {
  display: flex;
}
.award-box .right-area .fame-info ul {
  margin-right: 15%;
}
.award-box .right-area .fame-info ul li.line-1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #ff4c08;
}

.hall_fame_top_imgDiv img {
  width: 100%;
  border-radius: 6px;
}

.gallery_top_div {
  background: white !important;
  color: black !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  border: 1px solid black !important;
  text-transform: capitalize;
}
.gallery_top_div.active, .gallery_top_div:hover {
  background: black !important;
  color: white !important;
}

.picture_gallery {
  text-align: center;
  padding: 28px;
  background: #efe6da;
  border-radius: 4px;
}
.picture_gallery img {
  width: 100%;
  height: 190px;
  margin-bottom: 26px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.footer_div {
  background: #2c2c2c;
}
.footer_div .footer_logo_div {
  margin-bottom: 20px;
}
.footer_div .footer_logo_div img {
  width: 60%;
  margin-bottom: 20px;
}
.footer_div .footer_logo_div p {
  color: white;
}
.footer_div .footer_logo_div ul {
  padding-left: 0;
  list-style: none;
}
.footer_div .footer_logo_div ul li {
  margin-bottom: 6px;
}
.footer_div .footer_logo_div ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-in-out;
}
.footer_div .footer_logo_div ul li a:hover {
  color: #b76e79;
}
.footer_div .footer_links_div {
  margin-bottom: 20px;
}
.footer_div .footer_links_div strong {
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 22px;
  border-bottom: 2px solid white;
}
.footer_div .footer_links_div img {
  margin-top: 6px;
  border-radius: 12px;
  width: 45%;
}
.footer_div .footer_links_div ul {
  padding-left: 0;
  list-style: none;
  margin-top: 20px;
}
.footer_div .footer_links_div ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
.footer_div .footer_links_div ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer_div .footer_links_div ul.footer_social_icons {
  display: flex;
  justify-content: space-between;
}
.footer_div .footer_links_div ul.footer_social_icons li {
  margin-right: 6px;
}
.footer_div .footer_links_div ul.footer_social_icons li a.active {
  padding: 8px 12px;
  background: #b76e79;
  border-radius: 50%;
}
.footer_div .copy_right_area {
  padding: 8px 0;
  color: white;
}
.footer_div .copy_right_area p {
  bottom: 0 !important;
  color: white;
  font-size: 13px;
}

.details_txt_div strong {
  font-size: 17px;
}
.details_txt_div .update_details_right_area {
  margin-bottom: 30px;
}
.details_txt_div .member {
  color: #ff4c08;
  text-transform: capitalize;
}
.details_txt_div .story_name {
  text-decoration: none;
}
.details_txt_div .story_name:hover {
  color: #b76e79;
}
.details_txt_div .social_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 40%;
}
.details_txt_div .social_icons i {
  font-size: 30px;
  color: #ff4c08;
}
.details_txt_div .social_icons i:hover {
  color: #b76e79;
}

.committee_member_img {
  text-align: center;
}
.committee_member_img img {
  width: 100%;
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

@media (min-width: 320px) and (max-width: 767.5px) {
  .nominees_div .nominees h6 {
    margin-bottom: 30px;
  }
  .sec_gap {
    padding: 30px 0;
  }
  .sec_head {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .sec_head img {
    width: 120px;
    bottom: -22px;
  }
  p {
    font-size: 12px;
  }
  .banner_div video {
    width: 100%;
    height: 200px;
  }
  .partner img {
    height: 80px;
    width: 90px;
    padding: 6px 8px;
  }
  .award_category_accordion .accordion-item {
    margin-bottom: 10px;
  }
  .navbar .navbar-brand img {
    height: 66px;
    width: 66px;
  }
  .navbar-toggler {
    background: #ffffff;
    padding: 4px;
  }
  .navbar-toggler .navbar-toggler-icon {
    font-size: small;
    vertical-align: bottom;
  }
  .navbar-collapse {
    padding: 6px;
    background: #b76e79;
  }
  .navbar-collapse .navbar-nav .nav-link {
    padding: 0 0 3px;
  }
  .navbar-collapse .navbar-nav .nav-link.active {
    color: white !important;
  }
  .home_submit_entry {
    margin-top: 20px;
  }
  .breadcrumb_div {
    padding: 35px 0;
  }
  .breadcrumb_div .breadcrumb_div_inner h3 {
    font-size: 26px;
  }
  .breadcrumb_div .breadcrumb_div_inner .breadcrumb .breadcrumb-item {
    font-size: 16px;
  }
  .accordion-flush .accordion-item .accordion-button {
    padding: 8px;
    font-size: 13px;
  }
  .accordion-button::after {
    width: 18px;
    height: 16px;
  }
  .accordion_right {
    padding-right: 0;
  }
  .accordion_left {
    padding-left: 0;
  }
  .contact_us_div .nav-pills .nav-link {
    padding: 4px 10px;
    font-size: 12px;
  }
  .contact-main {
    padding: 14px;
    display: block;
  }
  .contact-area {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    padding: 14px;
  }
  .contact-form {
    margin-top: 30px;
    width: 100%;
  }
  .contact-form form .btn1 {
    width: 100% !important;
  }
  .award_commitee_div .member_div {
    margin-bottom: 30px;
  }
  .award_commitee_div .member_div .member_details {
    top: 85%;
  }
  .judging_looking p {
    width: 100% !important;
  }
  .award_commitee_div h6 {
    font-size: 17px;
  }
}
@media (min-width: 768) and (max-width: 991.5px) {
  .partner img {
    height: 120px;
    width: 120px;
    padding: 6px 8px;
  }
}/*# sourceMappingURL=style.css.map */